.education-list {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px #ccc;
	margin-bottom: 24px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.education-list .img-section {
	min-height: 193px;
	background: #96A3AD;
}
.category-name {
	color: #006EE3;
	background: #fff;
	display: inline-block;
	padding: 0 5px;
	border-radius: 2px;
	font-weight: bold;
	font-size: 16px;
	margin-top: 24px;
	margin-left: 24px;
}
.education-content {
	padding: 24px;
}