<div class="container">
	<div class="patient-education">
		<div class="row">
			<div class="col-lg-4">
				<div class="education-list">
					<div class="img-section">
						<!-- <img src="assets/images/"> -->
						<p class="category-name">Category name</p>
					</div>
					<div class="education-content">
						<h3>Cancer Cost Detox Lorem ipsum Dolor</h3>
						<p>Some quick example text to build on the card title and make up the bulk of the card's content. Ggg</p>
						<button class="btn button-primary">Read more</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="education-list">
					<div class="img-section">
						<!-- <img src="assets/images/"> -->
						<p class="category-name">Category name</p>
					</div>
					<div class="education-content">
						<h3>Cancer Cost Detox Lorem ipsum Dolor</h3>
						<p>Some quick example text to build on the card title and make up the bulk of the card's content. Ggg</p>
						<button class="btn button-primary">Read more</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="education-list">
					<div class="img-section">
						<!-- <img src="assets/images/"> -->
						<p class="category-name">Category name</p>
					</div>
					<div class="education-content">
						<h3>Cancer Cost Detox Lorem ipsum Dolor</h3>
						<p>Some quick example text to build on the card title and make up the bulk of the card's content. Ggg</p>
						<button class="btn button-primary">Read more</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="education-list">
					<div class="img-section">
						<!-- <img src="assets/images/"> -->
						<p class="category-name">Category name</p>
					</div>
					<div class="education-content">
						<h3>Cancer Cost Detox Lorem ipsum Dolor</h3>
						<p>Some quick example text to build on the card title and make up the bulk of the card's content. Ggg</p>
						<button class="btn button-primary">Read more</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="education-list">
					<div class="img-section">
						<!-- <img src="assets/images/"> -->
						<p class="category-name">Category name</p>
					</div>
					<div class="education-content">
						<h3>Cancer Cost Detox Lorem ipsum Dolor</h3>
						<p>Some quick example text to build on the card title and make up the bulk of the card's content. Ggg</p>
						<button class="btn button-primary">Read more</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="education-list">
					<div class="img-section">
						<!-- <img src="assets/images/"> -->
						<p class="category-name">Category name</p>
					</div>
					<div class="education-content">
						<h3>Cancer Cost Detox Lorem ipsum Dolor</h3>
						<p>Some quick example text to build on the card title and make up the bulk of the card's content. Ggg</p>
						<button class="btn button-primary">Read more</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="education-list">
					<div class="img-section">
						<!-- <img src="assets/images/"> -->
						<p class="category-name">Category name</p>
					</div>
					<div class="education-content">
						<h3>Cancer Cost Detox Lorem ipsum Dolor</h3>
						<p>Some quick example text to build on the card title and make up the bulk of the card's content. Ggg</p>
						<button class="btn button-primary">Read more</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="education-list">
					<div class="img-section">
						<!-- <img src="assets/images/"> -->
						<p class="category-name">Category name</p>
					</div>
					<div class="education-content">
						<h3>Cancer Cost Detox Lorem ipsum Dolor</h3>
						<p>Some quick example text to build on the card title and make up the bulk of the card's content. Ggg</p>
						<button class="btn button-primary">Read more</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="education-list">
					<div class="img-section">
						<!-- <img src="assets/images/"> -->
						<p class="category-name">Category name</p>
					</div>
					<div class="education-content">
						<h3>Cancer Cost Detox Lorem ipsum Dolor</h3>
						<p>Some quick example text to build on the card title and make up the bulk of the card's content. Ggg</p>
						<button class="btn button-primary">Read more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>