<header>
	<div class="main-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-6">
					<div class="logo">
						CancerCost<span>Detox</span>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6">
					<div class="profile">
						<p>Hi,Michael&nbsp;&nbsp; <img src="assets/images/profile.png"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- <div class="row">
    <div class="col-sm-12 text-center">
        <h2>Main Header</h2>
    </div>
</div>-->
<div class="container">
    <div class="row">
        <div class="sub-header">
            <app-sub-header></app-sub-header>
        </div>
    </div>
</div> 