<div class="container">
    <div class="references">
        <div class="">
            <div class="">
                <div class="">
                    <div class="search-list">
                        <div class="row">
                            <div class="col-md-7">
                                <h6><i class="ccd-book-open"></i> NCCN Guidelines® for Bladder Cancer V. 4.2019</h6>
                            </div>
                            <div class="col-md-5">
                                <button class="btn button-primary">Read more</button>
                            </div>
                        </div>
                    </div>
                    <div class="search-list">
                        <div class="row">
                            <div class="col-md-7">
                                <h6><i class="ccd-book-open"></i> Plimack ER et al. J Clin Oncol. 2014:32(18):1895:901.</h6>
                            </div>
                            <div class="col-md-5">
                                <button class="btn button-primary">Read more</button>
                            </div>
                        </div>
                    </div>
                    <div class="search-list">
                        <div class="row">
                            <div class="col-md-7">
                                <h6><i class="ccd-book-open"></i> Sternberg CN. et al. Eur J Cancer. 2006:42(1 ):50-4.</h6>
                            </div>
                            <div class="col-md-5">
                                <button class="btn button-primary">Read more</button>
                            </div>
                        </div>
                    </div>
                    <div class="search-list active">
                        <div class="row">
                            <div class="col-md-7">
                                <h6><i class="ccd-book-open"></i> Sternberg CN, et al. J Clin Oncol. 2001: 19(10):2638-46.l!</h6>
                            </div>
                            <div class="col-md-5">
                                <button class="btn button-primary active">Read more</button>
                            </div>
                        </div>
                    </div>
                    <div class="search-list">
                        <div class="row">
                            <div class="col-md-7">
                                <h6><i class="ccd-book-open"></i> Ut dui magna, elementum ut pellentesque a, sodales eget elit</h6>
                            </div>
                            <div class="col-md-5">
                                <button class="btn button-primary">Read more</button>
                            </div>
                        </div>
                    </div>
                    <div class="search-list">
                        <div class="row">
                            <div class="col-md-7">
                                <h6><i class="ccd-book-open"></i> In consectetur, odio nec viverra malesuada, est nibh commodo erat, vitae egestas turpis odio at …</h6>
                            </div>
                            <div class="col-md-5">
                                <button class="btn button-primary">Read more</button>
                            </div>
                        </div>
                    </div>
                    <div class="search-list">
                        <div class="row">
                            <div class="col-md-7">
                                <h6><i class="ccd-book-open"></i> Sed rhoncus sapien ut ante gravida vehicula</h6>
                            </div>
                            <div class="col-md-5">
                                <button class="btn button-primary">Read more</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
