<div class="">
    <div class="notes-data">
    	<div class="patient-search">
        	<div class="patient-heading">
        		<h4>Notes</h4>
        	</div>
        	<div class="notes-list">
        		<div class="notes-list-inner">
	        		<ul>
	        			<li class="active"><a href="#">All Notes</a></li>
	        			<li><a href="#">Notes archive</a></li>
	        		</ul>
	        	</div>
        	</div>
        	<div class="note-list-detail">
        		<div class="list-content">
        			<div class="custom-control custom-checkbox">
					   <input type="checkbox" class="custom-control-input" id="customCheck1">
					   <label class="custom-control-label" for="customCheck1"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
					   <i class="ccd-icon-close"></i>
					</div>
        		</div>
        		<div class="list-content">
        			<div class="custom-control custom-checkbox">
					   <input type="checkbox" class="custom-control-input" id="customCheck2">
					   <label class="custom-control-label" for="customCheck2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
					   <i class="ccd-icon-close"></i>
					</div>
        		</div>
        		<div class="list-content">
        			<div class="custom-control custom-checkbox">
					   <input type="checkbox" class="custom-control-input" id="customCheck3">
					   <label class="custom-control-label" for="customCheck3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
					   <i class="ccd-icon-close"></i>
					</div>
        		</div>
        		<div class="list-content">
        			<div class="custom-control custom-checkbox">
					   <input type="checkbox" class="custom-control-input" id="customCheck4">
					   <label class="custom-control-label" for="customCheck4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
					   <i class="ccd-icon-close"></i>
					</div>
        		</div>
        		<div class="list-content">
        			<div class="custom-control custom-checkbox">
					   <input type="checkbox" class="custom-control-input" id="customCheck5">
					   <label class="custom-control-label" for="customCheck5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
					   <i class="ccd-icon-close"></i>
					</div>
        		</div>

        		<div class="note-form">
        			<form [formGroup]="noteSearchForm" class="example">
					  <input type="text" formControlName="search_key" placeholder="Enter note text">
					  <button type="submit"><i class="ccd-plus"></i></button>
					</form>
        		</div>
        	</div>

        </div>
    </div>
</div>