<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- <nav class="sub-header"> -->
                <ul class="sub-header_ul">
                    <li class="sub-header_li active"><a class="sub-header_a" routerLink="/dashboard" routerLinkActive="router-link-active"  href="javaScript:void(0)">Dashboard</a></li>
                    <li class="sub-header_li"><a class="sub-header_a" routerLinkActive="router-link-active"  href="javaScript:void(0)">Resource</a></li>
                    <li class="sub-header_li"><a class="sub-header_a" routerLink="/patient-education" routerLinkActive="router-link-active"  href="javaScript:void(0)">Patient Education</a></li>
                    <li class="sub-header_li"><a class="sub-header_a" routerLink="/references" routerLinkActive="router-link-active"  href="javaScript:void(0)">References</a></li>
                </ul>
            <!-- </nav> -->
        </div>
    </div>
</div>